<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestRollTrain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABF369361D2256E300CE0A64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABF3694F1D2256E400CE0A64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABF3695A1D2256E400CE0A64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
